@page "/"

<PageTitle>Home</PageTitle>

<a href="/sample">View Sample Page</a>
<br><br><br>


@if (road == null)
{
  <div>
  rows: <input @bind=rowsInput />
</div>
  <div>
    columns: <input @bind=colsInput />
  </div>
  <button @onclick=CreateRoad>Create Road</button>
}
else
{
  <table>
  @for (int rowIndex = 0; rowIndex < road.RowCount; rowIndex++)
    {
      <tr>
        @for (int colIndex = 0; colIndex < road.ColCount; colIndex++)
        {
          <td>
            @if (road.GetVehicle(rowIndex, colIndex) != null)
            {
              <img src=@road.GetVehicle(rowIndex, colIndex)?.GetImagePath() height="100" />
            }
          </td>
        }
      </tr>
    }
  </table>

  <div>
    Set a Car

    <div>
      row: <input @bind=vehicleRowInput />
    </div>
    <div>
      column: <input @bind=vehicleColumnInput />
    </div>
    <button @onclick=@(() => SetVehicle("Car"))>Set Car</button>
    <button @onclick=@(() => SetVehicle("Bus"))>Set Bus</button>
    <button @onclick=@(() => SetVehicle("FireTruck"))>Set FireTruck</button>
    <button @onclick=@(() => SetVehicle("Taxi"))>Set Taxi</button>
  </div>
}


@code {
  string rowsInput = "";
  string colsInput = "";
  string vehicleRowInput = "";
  string vehicleColumnInput = "";
  Road road = null;

  private void CreateRoad()
  {
    if (int.TryParse(rowsInput, out int rows) && int.TryParse(colsInput, out int cols))
    {
      road = new Road(rows, cols);
    }
  }

  private void SetVehicle(string vehicleType)
  {
    if (int.TryParse(vehicleRowInput, out int row) && int.TryParse(vehicleColumnInput, out int col))
    {

      if (vehicleType == "Car")
      {
        road.SetVehicle(row, col, new Car());
      }

      if (vehicleType == "Bus")
      {
        road.SetVehicle(row, col, new Bus());
      }

      if (vehicleType == "FireTruck")
      {
        road.SetVehicle(row, col, new FireTruck());
      }

      if (vehicleType == "Taxi")
      {
        road.SetVehicle(row, col, new Taxi());
      }
    }
  }
}