@page "/"

<PageTitle>Home</PageTitle>


<table>
  <tr>
    <td>
      <img src="/bus.svg" height="100" />
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <img src="/car.svg" height="100" />
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
      <img src="/fire-truck.svg" height="100" />
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>