@page "/sample"

<table>
  @* each tr is a row *@
  <tr> 
    @* each td is a column in a row *@
    <td>
      <img src="/Bus.svg"height="100" />
    </td>
    <td>
      @* empty column *@
    </td>
    <td>
      @* empty column *@
    </td>
  </tr>
  <tr> 
    <td>
      @* empty column *@
    </td>
    <td>
      <img src="/Taxi.svg"height="100" />
    </td>
    <td>
      @* empty column *@
    </td>
  </tr>
</table>